body{
    background-color: var(--color-violetaFuerte);
}

header{
    background-color: var(--color-magenta);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    
}
section p{
    font-size: 12px;
}

 .imageca{
    margin-top: 20px;
    padding: 10px;
}
img{
    width: 100%;
    border-radius: 10px;
}
.cardca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.tituloca{
    background-color: var(--color-lila);
    height: 50px;
    border-radius: 10px;
    margin: 0 25px 0px 25px;
    
}
.tituloca h1{
    padding-top: 10px;
    text-align: center;
    font-size: 34px;
}

.infoca{
    margin: 15px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.infoca h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.infoca p{
    padding-bottom: 20px;
}

.botonca{
    margin-left: 100px;
}


.botonca button{
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 10px;  /* con el tamaño de letra se achica al botón */
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
}
       
.botonca button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    }
       
.botonca button:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
       }
       
.botonca button:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
}

.contenidoca{
    margin: 30px 10px 10px 20px
}

.contenidoca h4{
    margin-bottom: 10px;
    text-align: center;
}

.cajaca{
   
    margin: 10px 10px 10px 30px;
    text-align: center;
}
.logosca{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}
#vs{
    margin-top: 20px;
    width: 50%;
}
#node{
    width: 50%;
}

footer{
    background-color: var(--color-lila);
    padding: 10px;
    font-size: 10px;
}

@media (min-width:361px){

    .imageca{
        width: 70%;
        align-self: center;
    }
    
    .cardca{
        align-items: center;
    }
    .tituloca{
       width: 75%;
    }
    .tituloca h1{
       text-align: center;
    }
    .botonca{
        margin: 0;
    }
    #vs{
        width: 25%;
    }
    #node{
        width: 25%;
    }
}
@media (min-width:769px){
    .imageca{
        width: 50%;
    }
    .tituloca{
        width: 50%;
     }
     #vs{
        width: 15%;
    }
    #node{
        width: 15%;
    }
}
@media (min-width: 1024px){
    section h1{
        font-size: 30px;
    }
    section h3{
        font-size: 26px;
    }
    section h4{
        font-size: 24px;
    }
    section p{
        font-size: 16px;
    }
    .caja1ca{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .imageca{
        width: 50%;
    }
    .cardca{
        width: 50%;
    }
    .contenidoca{
        margin: 30px;
    }
    .logosca{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    
}







 