body{
    margin:0%;
    background-color:#260B2C;
    color:aliceblue;
    font-family: 'Anonymous Pro', monospace;
}


.elheader{
    background:linear-gradient(to bottom, var(--color-magenta) 5%, #883878 100%);
}
.logo{
    width: 60px;
    border-radius: 50%;
    margin-left: 0px;
}
.elnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu_links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.subitemul{
    text-decoration: none;
    font-size: 15px;
    padding: 12px 25px;
    display: block;
}
.subitems{
    display: flex;
    list-style: none;
    flex-direction: column;
}
.subitems{
    position: absolute;
    background:var(--color-magenta);
    align-items: center;
}
.subitemul:hover{
    background-color: rgb(30, 12, 40);
}
.link1{
    width: 180px;
    position: relative;
}
.subitems{
    position: absolute;
    top: 0;
}
.subitems{
    display: none;
}
.link1:hover>ul{
    display: block;
}
.trigger{
        box-shadow: 0px 10px 14px -7px #6b1a5f;
        background: linear-gradient(0deg, rgba(144,34,195,0.8354692218684349) 0%, rgba(253,45,249,0.8550770650056898) 100%);
        background-color:#a6578a;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        border-color:#a6578a;
}
.trigger:hover {
        background:linear-gradient(to bottom, #bd4ca6 5%, #a6578a 100%);
        background-color:#bd4ca6;
    }
.trigger:active {
        position:relative;
        top:1px;
    }
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.186);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup{
    height: 650px;
    width: 800px;
    background: radial-gradient(var(--color-rosa), rgb(204, 70, 224) );
    padding:0 30px;
    border-radius: 24px;
    position: relative;
    box-shadow:  0 5px 10px 10px rgba(90, 15, 90, 0.592);
    display: flex;
    justify-content: center;
}
.div-login-1{
    margin-left: 10px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 45px;
    height: 100%;
    text-align: center;
}
.cerrar{
    width: 20px;
    position: absolute;
    top: -7px;
    right: -15px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.cerrar:hover{
    box-shadow:  6px 6px 19px 4px rgba(90, 15, 90, 0.592);
}
.column{
    background-color: #ffffff;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 150px;
    width: 400px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 14px -4px #32122dd5;
    border-radius: 15px;
}
.titulo{
    color: rgb(192, 27, 176);
    font-style: oblique;
    font-weight: bold;
}
.column i{
    color: black;
}
.column span{
    color: black;
}

.fotiton{
    max-width: 40px;
}
.pags-login{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.div-login-2{
    border: 3px solid rgb(220, 184, 210);
    width: 150px;
    height: 39px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -7px #a1349132;
}
.div-login-2:hover{
    background-color:  rgb(220, 184, 210);
}
.div-login-4{
    margin-top: 30px;
}
.input-log{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(216, 214, 214, 0.705);
    border-radius: 8px ;
    color: #6b1a5f;
}
.input-log:focus{
    outline: none !important;
    border: 1px solid  rgba(200, 86, 234, 0.648);
    box-shadow: 0px 0px 5px 1px rgba(221, 56, 233, 0.39); 
}
.input-log:hover{
    border: 1px solid  rgba(200, 86, 234, 0.648);
}
.btn-ing{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(200, 86, 234, 0.648);
    border: 2px solid  rgba(200, 86, 234, 0.648);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
}
.btn-ing:hover{
    border: 3px solid  rgba(200, 86, 234, 0.648);
}
.regs{
    text-decoration: none;
    color:var(--color-rosa)
}
.column2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.texto-c2{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.fotiton-c2{
    max-width: 100%;
    margin-top: -122px;
}

.titulovg{
    display:flex;
    
}
.equipovg{
    justify-content:right;
    margin-top:20px;
    text-align: right;
    flex-basis:60%;
    height: 200px;
    margin-left:15%;
}
.titulo1vg{
    padding:5%;
    text-align: center;
    margin-top:40px;
}

.equipo{
    font-size: 50px;
}


.clase{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
   background-color: black;
   width: 550px;
   height:200px;
   margin-inline-start: auto;
   margin-bottom: 10px;
}
.img1vg{
    margin-top: 60px;
    flex-basis:40%;
}
.logov{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    height:200px;
    width:200px;
    border-radius:0px;

}


.profesores{
    margin-top:50px;
    width:100px;
    height: 100px;
    font-size: xx-large;
    margin-left:40%;
}

.profesores1{
    width:100px;
    height: 100px;
}

.perfilesvg{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    height:550px;
}

.Gabriel{
    border-radius: 100px;
    width:200px;
    height: 200px;;
    border-radius: 100px;
}

.Talia{
    width:200px;
    height: 200px;;
    border-radius: 100px;
}

.Tali{
    background-color: black;
    text-align: center;
    height: 500px;
    width:300px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.Gaby{
    background-color: black;
    text-align: center;
    height: 500px;
    width:300px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.palabra {
    display: none;
}



.botonesvg{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.boton1{
    padding:1%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:  100px;
    background-color: #FE82CA;;
    margin-bottom: 15px;
}

.boton2{
    padding:1%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:  100px;
    background-color: #FE82CA;;
    margin-bottom: 15px;
}

footer{
    background-color: var(--color-magenta);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

footer section{
    margin: 25px 0 
}

footer h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 18px;
}

footer i{
    /* margin: 7px 7px 0; */
    font-size: 25px;

}






@media (max-width:420px){
   .equipovg{
       margin-left:20%;
   }
    
   .palabras {
       display: none;
   }
   .palabra {
       font-size:xx-large;
       display: inline-block;
   }
    .profesores{
        margin-left:80%;
    }

    .perfilesvg{
        font-size:larger;
        display:flex;
        flex-direction: column;
        width:700px;
        height:1000px ;
        justify-content: center;
        margin-left:50%;
    }   

    .Tali{
        margin-top: 50px;
        width:500px;
        height: 450px;
    }

    .Gaby{
        width:500px;
        height: 450px;
    }


   .botonesvg{
    width:700px;
    height: 80px;
    margin-left:65px;
   }
   
   .animate{
       font-size: xx-large;
   }

   .elheader{
       display: none;
   }



}