.elheader{
    background-color: rgb(150, 23, 150);
}
.logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 0px;
}
.elnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu_links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-size: 15px;
    padding: 12px 25px;
    display: block;
}
.subitems{
    display: flex;
    list-style: none;
    flex-direction: column;
}
.subitems{
    position: absolute;
    background:var(--color-magenta);
    align-items: center;
}
.subitemul:hover{
    background-color: rgb(45, 15, 44);
}
.link1{
    width: 180px;
    position: relative;
}
.subitems{
    position: absolute;
    top: 0;
}
.subitems{
    display: none;
}
.link1:hover>ul{
    display: block;
}

body{
    margin:0%;
    background-color:#260B2C;
    color:aliceblue;
    font-family: 'Anonymous Pro', monospace;
}
.titulovg{
    display:flex;
    
}
.equipovg{
    justify-content:right;
    margin-top:20px;
    text-align: right;
    flex-basis:60%;
    height: 200px;
    margin-left:15%;
}
.titulo1vg{
    padding:5%;
    text-align: center;
    margin-top:40px;
}

.equipo{
    font-size: 70px;
}


.clase{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
   background-color: black;
   width: 550px;
   height:200px;
   margin-inline-start: auto;
   margin-bottom: 10px;
}
.img1vg{
    margin-top: 60px;
    flex-basis:40%;
}
.logov{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    height:200px;
    width:200px;
    border-radius:0px;

}


.profesores{
    margin-top:50px;
    width:100px;
    height: 100px;
    font-size: xx-large;
    margin-left:40%;
}

.profesores1{
    width:100px;
    height: 100px;
}

.perfilesvg{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    height:550px;
}

.Gabriel{
    border-radius: 100px;
    width:200px;
    height: 200px;;
    border-radius: 100px;
}

.Talia{
    width:200px;
    height: 200px;;
    border-radius: 100px;
}

.Tali{
    background-color: black;
    text-align: center;
    height: 500px;
    width:300px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.Gaby{
    background-color: black;
    text-align: center;
    height: 500px;
    width:300px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.palabra {
    display: none;
}



.botonesvg{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.boton1{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:  100px;
    background-color: #FE82CA;;
    margin-bottom: 15px;
}

.boton2{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px #A25DA5,
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:  100px;
    background-color: #FE82CA;;
    margin-bottom: 15px;
}

footer{
    background-color: var(--color-magenta);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

footer section{
    margin: 25px 0 
}

footer h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 18px;
}

footer i{
    /* margin: 7px 7px 0; */
    font-size: 25px;

}






@media (max-width:420px){
   .equipovg{
       margin-left:20%;
   }
    
   .palabras {
       display: none;
   }
   .palabra {
       font-size:xx-large;
       display: inline-block;
   }
    .profesores{
        margin-left:80%;
    }

    .perfilesvg{
        font-size:larger;
        display:flex;
        flex-direction: column;
        width:700px;
        height:1000px ;
        justify-content: center;
        margin-left:50%;
    }   

    .Tali{
        margin-top: 50px;
        width:500px;
        height: 450px;
    }

    .Gaby{
        width:500px;
        height: 450px;
    }


   .botonesvg{
    width:700px;
    height: 80px;
    margin-left:65px;
   }
   
   .animate{
       font-size: xx-large;
   }

   .elheader{
       display: none;
   }



}