body{
    background-color: var(--color-violetaFuerte);
   
}

.conteiner1{
    display: flex; 
    align-items:center;
    justify-content: space-evenly;
     
}



.conteiner2{
    display: flex;
    align-items: center;
    padding-top: 100px ;
    flex-direction: column;
    overflow-y: scroll;
    height: 500px;
    background-image: url(../imgs/fondo_videos.png);

}


h1{
    font-size:80px;
    /* background-color:var(--color-lila) ; */
    -webkit-box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
     box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
     border-radius: 8px;

}


.tituloc{
    
    margin-bottom: 20px;
    font-size: larger;
    background-color: var(--color-rosa);
    padding: 10px;
    border-radius: 5px;
   
}
.caja1{
    display: flex;
    justify-content: center;
    background-color: var( --color-magenta);
    padding: 40px;     
}

.contenidocb{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.imgjscb{
    -webkit-box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
    box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
}




/* 
 Caja de comentarios y puntuación */

.contenedor3{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
   
    
}

.opinioncb{
    padding: 10px;
    
    
}

#text{
    background-color: var(--color-rosa);
    font-size: larger;
}


form {
   display: flex;
   justify-content: flex-start;
  }
  
  form p {
    text-align: center;
  }
  
  /* tamaño de las estrellas */
  form label {
    font-size: 50px; 
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl; /*cambio de direccion del efecto hover*/
    unicode-bidi: bidi-override;
    display: flex;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  
  button{
      background-color:var(--color-lila);
      width: 150px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      /* border: var(--color-magenta); */

  }
  ::placeholder{
     color: var(--color-blanco);
  }
