body{
    background-color: var(--color-violetaFuerte);
   
}

.conteiner1{
    display: flex; 
    align-items:center;
    justify-content: space-evenly;
     
}



.conteiner2{
    display: flex;
    align-items: center;
    padding-top: 100px ;
    flex-direction: column;
    overflow-y: scroll;
    height: 500px;
    background-color: var(--color-lila) ;

}


h1{
    font-size:80px;
    /* background-color:var(--color-lila) ; */
    -webkit-box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
     box-shadow: 14px 9px 27px 0px rgba(0,0,0,0.75);
     border-radius: 8px;

}


.tituloc{
    
    margin-bottom: 20px;
    font-size: larger;
    background-color: var(--color-rosa);
    padding: 10px;
    border-radius: 5px;
   
}
.caja1{
    display: flex;
    justify-content: center;
    background-color: var( --color-magenta);
    padding: 40px;     
}

.contenidocb{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.imgjscb{
    -webkit-box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
    box-shadow: 14px 9px 6px 8px rgba(0,0,0,0.75);
}

