@import url(/css/general.css);
@import url(/css/cursojs.css);
@import url(/css/header.css);
@import url(/css/equipo.css);
@import url(/css/plataformadevideo.css);
@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/main.css);
@import url(/css/inprocess.css);